

@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}


body {
  background-color: rgb(0, 0, 0);
}

.dot-wave {
  --uib-size: 47px;
  --uib-speed: 1s;
  --uib-color: rgb(255, 255, 255);

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 35px;
  height: calc(var(--uib-size) * 0.17);
  padding-top: calc(var(--uib-size) * 0.34);
}

.dot-wave__dot {
  flex-shrink: 0;
  width: calc(var(--uib-size) * 0.17);
  height: calc(var(--uib-size) * 0.17);
  border-radius: 50%;
  background-color: var(--uib-color);
  will-change: transform;
}

.dot-wave__dot:nth-child(1) {
  animation: jump var(--uib-speed) ease-in-out
    calc(var(--uib-speed) * -0.45) infinite;
}

.dot-wave__dot:nth-child(2) {
  animation: jump var(--uib-speed) ease-in-out
    calc(var(--uib-speed) * -0.3) infinite;
}

.dot-wave__dot:nth-child(3) {
  animation: jump var(--uib-speed) ease-in-out
    calc(var(--uib-speed) * -0.15) infinite;
}

.dot-wave__dot:nth-child(4) {
  animation: jump var(--uib-speed) ease-in-out infinite;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-200%);
  }
}


.race-by {
  --uib-size: 80px;
  --uib-speed: 1.4s;
  --uib-color: black;
  --uib-line-weight: 5px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-line-weight);
  width: 100%;
  border-radius: calc(var(--uib-line-weight) / 2);
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.race-by::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--uib-color);
  opacity: 0.1;
}

.race-by::after {
  content: '';
  height: 100%;
  width: 100%;
  border-radius: calc(var(--uib-line-weight) / 2);
  animation: raceBy var(--uib-speed) ease-in-out infinite;
  transform: translateX(-100%);
  background-color: var(--uib-color);
}

@keyframes raceBy {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}



/* MAIN WEBSITE FADE IN ANIMATION*/
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.active {
  opacity: 1;
}



.animation {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

header {
/*   border: 1px solid black; */
  z-index: 999;
  padding: 30px 15px;
  background-color: rgb(0, 0, 0);
}

/* MAIN WEBSITE SCROLLBAR */
html::-webkit-scrollbar{
  width: 5px;
}

html::-webkit-scrollbar-thumb {
  background: black;
}

html::-webkit-scrollbar-track {
  background: white;
}

.slogan {
  color: white;
  font-family: 'Sofia', cursive;
  margin-top: 40px;
  text-align: center;
  font-size: clamp(0.5rem,3.5vw,2rem);
  user-select: none;
}



/* PAGINATION STYLINGS */
.pagination {
  /* border: 1px solid #3333337a; */
  border-radius: 5px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px ;
  margin: 50px auto 0px auto;
  padding: 10px;
}

.page_buttons {
  /* border: 1px solid #3333337a; */
  border: none;
  background-color: #101010;
  border-radius: 5px;
  padding: 10px;
  color: white;
  cursor: pointer;
  font-family: 'Philosopher', sans-serif;
}

.page_buttons:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  transition: all 0.5s;
}

.selectedPageButton {
  background-color: rgb(255, 255, 255);
  color: black;
  transition: all 0.5s;
}




/* MAIN LOADING ANIMATION */
svg text {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 8px;
  fill: transparent;
  stroke: rgb(255, 255, 255);
  stroke-width: 2px;
  animation: animated-stroke 4s forwards;
  font-family: "Raleway", sans-serif;
  text-anchor: middle;
/*   dominant-baseline: middle; */
}


@keyframes animated-stroke {
  0% {
    stroke-dasharray: 0 60%;
  }

  90% {
    fill: transparent;
  }
  
  100% {
    stroke-dasharray: 10% 0%;
    stroke-dashoffset: 25%;
    fill: rgb(255, 255, 255);
  }
  
}

/* API LOADING ANIMATION */
.load_animation {
  margin:  20px auto;
	width: 30px;
	height: 30px;
	border:solid 3px #ffffff;
	border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	 -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1.0s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    	
    	 transition: all 0.5s ease-in;
    animation-name:             rotate; 
    animation-duration:         1.0s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear; 
}
.load_animation_black {
  margin:  20px auto;
	width: 30px;
	height: 30px;
	border:solid 3px #000000;
	border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	 -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1.0s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    	
    	 transition: all 0.5s ease-in;
    animation-name:             rotate; 
    animation-duration:         1.0s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear; 
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}
 

 @-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}


/* MOVIE POSTER STATS */

.movie_name {
  color: rgb(255, 255, 255);
  border-radius: 2px;
  padding: 2px 4px;
  font-size: 0.9rem;
  font-family: 'Quicksand', sans-serif;
  white-space: nowrap;
  margin-top: 3px;

}



.movie_date {
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 0px 4px 0px 5px;
  font-weight: lighter;
  padding: 1px 4px;
  font-weight: bold;
  font-size: 0.7rem;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;
  z-index: 1;
}

.movie_poster_container {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.movie_poster {
  border-radius: 10px;
  width: 101%;
  height: auto !important;
  display: block;
  transition: transform 1s;
}

.movie_poster:hover {
  transform: scale(1.2);
}

.movie_poster:not(:hover) {
  transform: scale(1);
}




/* POSTER LOADING SKELETON */
.movie_poster_skeleton {
  background-color: rgb(50, 50, 50);
  border-radius: 10px;
  width: 100%;
  height: 100px;
  display: block;
  position: relative; 
}

.movie_poster_skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  border-radius: 10px;
  left: -100%; 
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(90, 90, 90, 0.434), transparent);
  animation: skeletonAnimation 1.5s infinite; 
}

@keyframes skeletonAnimation {
  0% {
    left: -100%;
  }
  100% {
    left: 60%; 
  }
}



.movie_player_container {
/*   border: 1px solid red; */
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
  height: 500px;
  margin-top: 25px;
}


.movie_player {
/*   border: 1px solid red; */
  border: none;
  margin: 0 auto;
  height: 0%;
  width: 100%;
}
.show_player {
/*   border: 1px solid red; */
  border: none;
  margin: 0 auto;
  height: 0%;
  width: 100%;
  border-radius: 10px;
}

.refresh_notice {
  position: fixed;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.208);
  top: -5%;
  left: 50%;
  font-family: 'Quicksand', sans-serif;
  font-size: clamp(0.3rem, 2vw, 0.9rem);
  transform: translateX(-50%);
  padding: 2px 6px;
  border-radius: 2px;
  color : rgb(0, 0, 0);
  z-index: 999;
  transition: all 0.5s;
}

.refresh_notice.active {
  top: 5%;
}

.refresh_link {
  text-decoration: underline;
  cursor: pointer;
}

.refresh_link:hover {
  color: rgb(0, 89, 255);
}




.movie_player_skeleton {
 /*  border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.entity_info {
  color: #8f8f8f;
}

.entity_duration,.entity_production,.entity_country,.entity_language,.entity_genre,.entity_released {
  color: white;
}


.watchlist_btn,.share_btn {
  padding: 4px 20px;
/*   width: 120px; */
  height: 30px;
/*   margin: 5px 0; */
  white-space: nowrap;
  outline: none;
  border-radius: 3px;
  background-color: #000000;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.3s all;
}

.share_btn {
/*   margin-left: auto; */
  margin-right: 5px;
}

.watchlist_btn:hover,.share_btn:hover {
  background-color: white;
  color: #000000;
}

.watchlist_btn.active {
  border: 1px solid black;
  background-color: #00ff00;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.522) ;
}

.trailer_btn {
  padding: 4px;
  width: 90px;
  height: 30px;
/*   margin: 5px 0; */
  white-space: nowrap;
  outline: none;
  border-radius: 3px;
  background-color: #000000;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.3s all;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.trailer_btn:hover {
  background-color: white;
  color: #000000;

  .eye_icon {
    
    filter: invert(1);
  }
}

.eye_icon {
  width: 16px;
  transition: 0.3s all;
}


.watchlist {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

.watchlistCard {
/*   border: 1px solid white; */
  border-radius: 3px;
  background-color: rgba(128, 128, 128, 0.068);
  display: flex;
  gap: 10px;
  font-size: clamp(0.3rem, 3vw, 1rem);
  text-decoration: none;
  padding: 5px;
  transition: all 0.3s;
}

.watchlistCard:hover {
  background-color: rgba(128, 128, 128, 0.333);
}

.watchlist_entity_title {
  color: white;
  font-weight: bold;
}

.entity_type {
  background-color: white;
  color: black;
  padding: 1px;
  width: 40px;
  border-radius: 2px;
  font-size: clamp(0.3rem, 2vw, 0.8rem);
  text-align: center;
}

.entity_date {
  background-color: white;
  color: black;
  padding: 1px;
  width: 60px;
  border-radius: 2px;
  font-size: clamp(0.3rem, 2vw, 0.7rem);
  text-align: center;
}

.entity_overview {
  color: rgba(197, 197, 197, 0.565);
  font-size: clamp(0.3rem, 2.5vw, 1rem);
  font-family: 'Quicksand', sans-serif;
  background-color: rgba(128, 128, 128, 0.04);
  padding: 4px;
  border-radius: 3px;
}

.watchlist_metrics {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.watchlist_poster {
  width: 100px;
  height: 150px;
  border-radius: 3px;
}


.empty_watchlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-top: 25vh;
  font-family: 'Quicksand', sans-serif;
  padding: 10px;
}

.watchlist_notice {
  font-size: 1.2rem;
  opacity: 0.7;
  color: white;
}

.watchlist_empty_icon {
  filter: invert(1);
}

.error_message {
  color: white;
  font-size: 1.2rem;
  margin: 0 auto;
  font-family: 'Philosopher', sans-serif;
}


.dark_overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.774);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

footer {

  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.255);
  background-color: rgb(0, 0, 0);
  border-top: 1px solid rgba(255, 255, 255, 0.254);
  padding: 10px;
  font-size: clamp(0.7rem, 1vw, 1rem);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-top: auto;
}



.movie_language {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 4px 0px 5px 0px;
  padding: 1px 9px;
  font-weight: bold;
  font-size: 0.8rem;
  z-index: 1;
  
}
.movie_vote {
  position: absolute;
  background-color: #101010;
  bottom: 0%;
  left: 0%;
  color: rgb(255, 255, 255);
  border-radius: 0px 5px 0px 5px;
  padding: 1px 9px;
  font-weight: bold;
  font-size: 0.8rem;
  z-index: 1;
}


.red {
  background-color: rgb(255, 0, 0);
  font-weight: bold;
}

.orange {
  background-color: orange;
  font-weight: bold;
}

.green {
  background-color: #00ff9d;
  font-weight: bold;
}

.back_button_container {
     width: 95%;
     display: flex;
     margin: 0 auto;
}

.back_button {
  text-decoration: none;
  background-color: #101010;
  padding: 5px;
  color: rgba(211, 211, 211, 1);
  border-radius: 2px;
  display: inline-block;
  position: relative;
  margin-top: 10px;
  font-weight: 500;
  font-size: clamp(0.3rem, 2vw, 0.75rem);
  transition: all ease 0.4s;
}

.back_button:hover {
  background-color: white;
  color: black;
  transition: all 0.5s
}


.container {
  display: none;
}

.watching_show_notice {
  color: white;
  font-size: clamp(0.5rem, 4vw, 1.4rem);
  align-self: flex-start;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}
.watching_movie_notice {
  color: white;
  font-size: clamp(0.5rem, 4vw, 1.4rem);
  align-self: flex-start;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

.chevron_up {
  position: fixed;
  bottom: 5%;
  right: 2%;
  /* bottom:1%;
  left: 50%; */
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  /*   border: 2px solid transparent; */
  background-color: white;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  z-index: 999;
  transition: all ease 0.3s;
}

.chevron_up::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(50%, 50%);
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  color: black;
}

.error_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  gap: 10px;
}

.error_notice {
  font-size: 1.1rem;
  opacity: 0.7;
  color: white;
  font-family: Inter,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif;
}
.return_home_btn {
  background-color: white;
  border-radius: 3px;
  text-decoration: none;
  padding: 5px 10px;
  color: black;
  transition: all 0.4s;
}
.return_home_btn:hover {
  border: 1px solid white;
  background-color: black;
  color: white;

}
.reel_logo {
  padding: 0px 5px;
  margin: 0 auto;
  border: 2px solid rgb(255, 255, 255);
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-right: auto;
  font-family: 'Cinzel', serif;
  font-size: clamp(0.4rem, 4vw, 1.5rem);
}

@media (max-width:900px) {

  /* HAMBURGER STYLINGS */
  header {
    padding: 5px 5px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  

  .chevron_up {
    bottom:1.1%;
    left: 50%;
  }
  
  .logo {
      margin-right: auto;
      z-index: 9999;
    }


  .nav_container {
    display: flex;
    flex-direction: column;
    top: 0;
    width: 100%;
    left: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 999;
    align-items: center;
    justify-content: center;
    gap: 5px ;
    font-size: 1.3rem;
    transition: all 0.5s;
    }


  .nav_links {
      font-size: 2.5rem;
      padding: 5px 20px;
    }
    

}

